[submodule "software/core/Common"]
	path = software/core/Common
	url = https://github.com/QUT-Motorsport/QUTMS_Embedded_Common
[submodule "software/Core/Common"]
	path = software/Core/Common
	url = https://github.com/QUT-Motorsport/QUTMS_Embedded_Common.git
[submodule "software/Core/lvgl"]
	path = software/Core/lvgl
	url = https://github.com/lvgl/lvgl
